header {
    display: flex;
    justify-content: center;
    background-color: aqua;
    nav {
        width: 90%;
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            gap: 20px;
        }
        div{
            display: flex;
            align-items: center;
        }
    }
}